<div class="row">
	<div class="col s12">
		<ul class="tabs tabs-fixed-width">
			<li class="tab"><a href="#" class="active">Inventario</a></li>
			<li class="tab"><a href="#" onclick="apretaste.send({command: 'AMULETOS STORE'})">Druida</a></li>
		</ul>
	</div>
</div>

<div class="row green lighten-5 spaced">
	<% active.forEach(function(item) { %>
		<div class="col s4 center green-text" onclick="openModalUnequip('<%= item.amulet_id %>','<%= item.name %>','<%= item.description %>','<%= item.icon %>')">
			<i class="medium material-icons"><%= item.icon %></i>
			<% if(item.countdown) { %>
				<div class="countdown uptop"><%= item.countdown %></div>
			<% } else { %>
				<div class="uptop">Ilimitado</div>
			<% } %>
		</div>
	<% }) %>

	<% if(!active.length) { %>
		<div class="col s12 center black-text">
			Usted no tiene amuletos equipados. Equipe alguno y disfrute sus poderes.
		</div>
	<% } %>
</div>

<% if(inventary.length) { %>
	<div class="row">
		<div class="col s12">
			<ul class="collection">
				<% inventary.forEach(function(item) { %>
					<li class="collection-item avatar">
						<i class="material-icons circle green"><%= item.icon %></i>
						<span class="title"><b><%= item.name %></b></span>
						<p class="green-text">
							<% if(item.countdown) { %>
								<span class="countdown"><%= item.countdown %></span>
							<% } else { %>
								Efecto ilimitado
							<% } %>
						</p>

						<p class="desc"><%= item.description %></p>

						<% if(active.length < 3) { %>
							<a href="#!" class="secondary-content green-text" 
								onclick="apretaste.send({command:'AMULETOS EQUIP', data:{'id':'<%= item.amulet_id %>'}})">
								<i class="material-icons">arrow_upward</i>
							</a>
						<% } %>
					</li>
				<% }) %>
			</ul>
		</div>
	</div>
<% } else { %>
	<div class="row">
		<div class="col s12 center">
			<p>No posee ningún amuleto en el inventario. Tal vez los que tenía han perdido efectividad. Visite al <a href="#!" onclick="apretaste.send({command:'AMULETOS STORE'})">Druida</a> para obtener amuletos y utilizar sus poderes.</p>
		</div>
	</div>
<% } %>


<!-- MODALS -->

<div id="modal" class="modal">
	<div class="modal-content center">
		<i id="modalIcon" class="large material-icons"></i>
		<div><b id="modalName"></b></div>
		<div id="modalDesc"></div>
		<br>
		<a href="#!" class="modal-close waves-effect waves-light btn-flat">Cerrar</a>
		<a class="waves-effect waves-light btn" href="#!" onclick="unequip()">Desequipar</a>
	</div>
</div>